extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script(lang="application/javascript").
    var socketIOClient = io("http://localhost:3000");
    socketIOClient.on('tweet', function(data){
      console.log(data)
    });
